<h1>Drivers#index</h1>
<ul>
	<% @driver.each do |driver| %> 
		<li><%= driver.name%>
	
		<% if driver.license.present? %>
			-
			<%= driver.license.number %>
			<%= driver.license.state %>
		<% end %>
		<%= link_to "Delete", driver_path(driver), method: :delete, data: {confirm:  "Are you sure" } %>
	</li> 
	<% end %>
</ul>

<%= link_to "New Driver", new_driver_path %>
